{% extends 'base.html' %}
{% block head %}
<title>Emergency Prepardeness</title>
{% endblock %}

{% block body %}
<br>

<h1>Emergency Prepardeness</h1>
<hr style="border: 4px solid#5b9aa0;" />
<form action="/hazard_continued" method="POST">

    <h3>In your lifetime have you ever been directly impacted by:</h3>
    <hr style="border: 1px solid#d9d9d9;" />
    {%for question in questions_list %}
    <h6>{{question}}</h6>
    <input type="radio" name="{{range[loop.index0]}}" value="Yes">Yes<BR>
    <input type="radio" name="{{range[loop.index0]}}" value="No">No<BR>
    <br>
    {%endfor%}


    <input type='submit' value='Next'>
</form>

{% endblock%}